<h1>Todos os estudos:</h1>
<ul class="study-list">
  {{#if studies.length}}
    {{#each studies}}
      <li>
        {{#if this.completed}}
          <a href="/studies/edit/{{this.id}}" class="title done">{{this.subject}}</a>
        {{else}}
          <a href="/studies/edit/{{this.id}}" class="title">{{this.subject}}</a>
        {{/if}}
        <span class="actions">
          <form action="/studies/updatestatus" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">
              <i class="bi bi-check2"></i>
            </button>
          </form>
          <a href="/studies/edit/{{this.id}}">
            <i class="bi bi-pencil-square"></i>
          </a>
          <form action="/studies/remove" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir esta tarefa?');">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">
              <i class="bi bi-x-lg"></i>
            </button>
          </form>
        </span>
      </li>
    {{/each}}
  {{else}}
    <p>Não há estudos cadastrados.</p>
  {{/if}}
</ul>
